*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.divPrincipal{
  margin: 0 auto;
  width: 780px;
    background: #fff;

}

.logo{
  background: #f6f6f6;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo img{
  height: 64px;
  width: auto;
  object-fit: contain;
}










